<div class="addwrkoutcontainer">
    <div style="border:2px solid #FAF9F9; padding-left:2px; ">
      <h4>Add Workout</h4></div>
      <div style="padding-top:10px">
      <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
          <label class="control-label col-sm-2" for="title">Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Enter title ">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="note">Note:</label>
          <div class="col-sm-10"> 
            <input type="text" class="form-control" id="note" placeholder="Enter Note">
          </div>
        </div>
      </form>
    </div>
</div>
